<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'constants.js' | asset_url }}" defer></script>
    <script src="{{ 'global.js' | asset_url }}" defer></script>
    
    {{ content_for_header }}

    {% # theme-check-disable RemoteAsset %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
    {% # theme-check-enable RemoteAsset %}

    {%- style -%}
      :root {
        --font-body-family: 'Heebo', sans-serif;
        --font-heading-family: 'Heebo', sans-serif;
      }
      body {
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: var(--font-body-family);
      }
    {%- endstyle -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="gradient">
    <a class="skip-to-content-link visually-hidden button" href="#MainContent">
      Skip to content
    </a>

    {% section 'header' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'dji-footer' %}

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };
    </script>
  </body>
</html>